{% extends "base.html" %}

{% block title %}Liste des événements{% endblock %}

{% block content %}
<h1>Liste des événements</h1>

<a href="{{ url_for('new_event') }}" class="btn btn-primary">
    ➕ Ajouter un événement
</a>

<table>
    <thead>
        <tr>
            <th>Titre</th>
            <th>Type</th>
            <th>Date</th>
            <th>Lieu</th>
            <th>Description</th>
            <th>Posté le</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr>
            <td>{{ event.title }}</td>
            <td>{{ event.type }}</td>
            <td>{{ event.date }}</td>
            <td>{{ event.location }}</td>
            <td>{{ event.description }}</td>
            <td>{{ event.date_add }}</td>
            <td>
                <form action="{{ url_for('delete_event', event_id=event.id) }}" 
                        method="POST" 
                        onsubmit="return confirm('Supprimer cet événement ?');">
                    <button type="submit" class="btn btn-danger">
                         ✖️ Supprimer
                    </button>
                </form>      
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
