{% extends "base.html" %}

{% block title %}Ajouter un événement{% endblock %}

{% block content %}
<h1>Ajouter un événement</h1>
<div>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
</div>
<form method="POST">
    <div>
        <label for="title">Titre</label>
        <input type="text" id="title" name="title" required>
    </div>

    <div>
        <label for="type">Type</label>
        <select name="type" id="type" name="type" required>
            <option value=""></option>
            <option value="conférence">Conférence</option>
            <option value="team building">Team building</option>
            <option value="sortie">Sortie</option>
            <option value="repas d'équipe">Repas d'équipe</option>
            <option value="autre">Autre</option>
        </select>
    </div>

    <div>
        <label for="date">Date</label>
        <input type="date" id="date" name="date" required>
    </div>

    <div>
        <label for="location">Lieu</label>
        <input type="text" id="location" name="location" required>
    </div>

    <div>
        <label for="description">Description</label>
        <textarea id="description" name="description" rows="4" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">
        ✅ Enregistrer
    </button>

    <a href="{{ url_for('list_event') }}" class="btn btn-secondary">
        Retour
    </a>
</form>

{% endblock %}
